@import url('../styles.css');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 2.5%;

    min-width: 680px;

    color: var(--card-text-color);

    overflow-x: scroll;
}

.header {
    position: fixed;
    top: 0%;
    right: 0%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background: linear-gradient(135deg, var(--secondary-color), var(--primary-color));
    box-shadow: -5px -5px 10px 0 var(--secondary-color),
                5px 10px 25px 0 var(--primary-color);
    width: 100%;
    height: 10.5vh;
    z-index: 1;
}

.project-title {
    position: fixed;
    top: 1rem;

    text-align: center;

    font-size: 48px;
    min-width: 580px;
    max-width: 75%;
    margin: 0;
}

section {
    width: 95%;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 75px;

    width: 95%;
    max-width: 950px;

    gap: 50px;
}

.description-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    margin: 10px 0;
    color: var(--text-color);
}

.demo {
    width: 400px;
    height: 300px;
    border: 1px solid black;
}

.inspo-img {
    width: 80%;
}

.autoShow {
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateY(200px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

.parts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin-top: 5vh;

    width: 90%;
}

.part {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    text-align: center;
    padding: 0.25rem;
}

.part p {
    margin: 0;
}

.parts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parts-cards {
    display: grid;
    width: 100%;
    grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
    max-width: 950px;
    place-content: center;
    gap: 2.5rem;
}

.part-img {
    height: 5rem;
    margin: 0;
}

.part-label {
    margin: 0;
}

.wiring {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    gap: 10px;
    max-width: 950px;
}

.pinout {
    text-align: center;
}

.pinouts {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.pinout-image {
    height: 80%;
    max-width: 80%;
    margin: 0;
}

.wiring-diagram {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.wiring-drawing {
    width: 45%;
}

.wiring-image {
    width: 80%;
}

.pseudocode {
    width: 90%;
    max-width: 900px;
    margin-top: 5vh;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.code {
    width: 95%;
}

code {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: monospace;
    background: #1b1b1b;
    color: #ef557d;
    padding: .3rem 1rem .5rem;
    border-radius: .5rem;
    width: 94.25%;
    height: 75vh;
    text-align: left;
    overflow: auto;
}

.code-description {
    width: 95%;
}

.subtitle {
    margin: 10px 0;
    color: var(--text-color);
    font-size: 30px;
    text-align: center;
}

kbd {
    background: #738c8e;
    padding: 2px;
}

.conclusion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    max-width: 950px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.conclusion > .section-title {
    margin-bottom: 3.5rem;
}

.projectButton {
    background: linear-gradient(135deg, var(--secondary-color), var(--primary-color));
    
    height: 100px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 25px;
    padding: 55px;
    margin: 10px 0;
    opacity: 0.9;
    cursor: pointer;
}