body {
    background-color: hsl(203, 63%, 78%);
    font-family: 'Arial', sans-serif;
    margin: 0;
    color: hsl(211, 93%, 16%);
}

.opening-screen {
    height: 100vh;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 440px;
    height: 330px;

    border-radius: 150px;
}
/* Shadow under image */

.overTitle, .blurb, .projTitle, .card, .contactTitle, .contact-cards {
    transition: opacity 1.5s ease-out, transform 1s ease-out;
}

h1 {
    font-size: 64px;
}

h3 {
    font-size: 36px;
}


.overview-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 50vh;
    width: 75%;

    padding: 50px;

    max-width: 1000px;
    margin: 0 auto;
}

.blurb {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

.project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px;
    margin: 0 auto;

    height: 90vh;
    width: 75%;
    max-width: 1000px;
}

.project-cards {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25%;
    gap: 50px;
    padding: 50px;
    max-width: 750px;

    place-content: center;
}

.card {
    padding: 20px 5%;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    font-size: 14px;
    font-weight: bold;
    text-align: center;  
}

.card, .contactButton {
    
    color: hsla(212, 60%, 83%, 0.891);
    background: linear-gradient(135deg, #5e88d8, #ae69fd);
    /* dark mode background: linear-gradient(135deg, #ff2693, #934cff); */
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px;
    margin: 0 auto;

    height: 25vh;
    width: 75%;
    max-width: 1000px;
}

/* Make logos in sillouhette with same color as text */
.contact-cards {
    display: grid;
    width: 80%;
    grid-template-columns: 125px 125px 125px;
    gap: 50px;
    padding: 50px;
    max-width: 750px;

    place-content: center;
}

.gitLogo, .linkedLogo, .gmailLogo {
    height: 100px;
    width: 100px;
}

.contactButton {
    border-radius: 25px;
    padding: 10px;
}

.contactButton.linked {
    padding-right: 5px;
}

.hidden {
    opacity: 0;
    transform: translateY(20px); /* Start slightly lower */
}

.show {
    opacity: 1;
    transform: translateY(0);
}