body {
    background-color: #1a202c;
    font-family: 'Arial', sans-serif;
    margin: 0;
    color: #ffffff;
}

.opening-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overTitle, .blurb, .projTitle, .card, .contactTitle, .contact-cards {
    transition: opacity 2s ease-out, transform 2s ease-out;
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
}

.overview-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 75vh;
    width: 75%;

    padding: 50px;

    max-width: 1000px;
    margin: 0 auto;
}

.project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px;
    margin: 0 auto;

    height: 75vh;
    width: 75%;
    max-width: 1000px;
}

.project-cards {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25%;
    gap: 50px;
    padding: 50px;
    max-width: 750px;

    place-content: center;
}

.card {
    background: linear-gradient(135deg, #4c51bf, #6b46c1);
    padding: 20px 5%;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-cards {
    display: grid;
    width: 80%;
    grid-template-columns: 125px 125px 125px;
    gap: 50px;
    padding: 50px;
    max-width: 750px;

    place-content: center;
}

.gitLogo, .linkedLogo, .gmailLogo {
    height: 100px;
    width: 100px;
}

.contactButton {
    border-radius: 25px;
    padding: 10px;
}

.contactButton.linked {
    padding-right: 5px;
}

.hidden {
    opacity: 0;
    transform: translateY(20px); /* Start slightly lower */
}

.show {
    opacity: 1;
    transform: translateY(0);
}