@import url('../projectStyles.css');

.grid-pics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.desc-pic {
    width: 200px;
    height: 150px;
}

.parts-cards {
    grid-template-columns: 25% 25% 25%;
}

#car-parts {
    grid-template-columns: 25% 25%;
}

.wiring-diagram {
    margin-top: 25px;
}

.code-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 850px;
}

.code-description {
    width: 95%;
    max-width: 850px;
    margin-top: 25px;
}

.code {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 850px;
}

#code-desc {
    text-align: left;
}

.conclusion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 950px;
}