@import url('../projectStyles.css');

.parts-cards {
    grid-template-columns: 25% 25% 25%;
}

.code-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    width: 95%;
    max-width: 950px;
}

.code {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin-top: 25px;
    width: 100%;
}

.conclusion {
    margin-top: 5vh;
    max-width: 950px;
}